<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreditCard-Fraud-Detection</title>
</head>
<body>
    <form action="{{ url_for('predict')}}" method="POST">
        V308:  <input type="number" name="V308">
        V57:  <input type="number" name="V57">
        C11:  <input type="number" name="C11">        
        V114:  <input type="number" name="V114">
        V283:  <input type="number" name="V283">
        V312:  <input type="number" name="V312">
        V70:  <input type="number" name="V70"><br>
        V319:  <input type="number" name="V319">
        V19:  <input type="number" name="V19">
        V28:  <input type="number" name="V28">
        V292:  <input type="number" name="V292"><br>
        V28_1:  <input type="number" name="V28_1">
        V82:  <input type="number" name="V82">
        V311:  <input type="number" name="V311">
        V86:  <input type="number" name="V86"><br>
        V26:  <input type="number" name="V26">
        V300:  <input type="number" name="V300">
        C9:  <input type="number" name="C9">
        V301:  <input type="number" name="V301"><br>
        V88:  <input type="number" name="V88">
        V284:  <input type="number" name="V284">
        V301_1:  <input type="number" name="V301_1">
        V121:  <input type="number" name="V121"><br>
        V56:  <input type="number" name="V56">
        D15:  <input type="number" name="D15">
        V106:  <input type="number" name="V106">
        V107:  <input type="number" name="V107"><br>
        addr2:  <input type="number" name="addr2">
        card5:  <input type="number" name="card5">
        addr1:  <input type="number" name="addr1">
        ProductCD_H:  <input type="text" name="ProductCD_H"><br>   
        ProductCD_R:  <input type="text" name="ProductCD_R">
        ProductCD_S:  <input type="text" name="ProductCD_S">
        ProductCD_W:  <input type="text" name="ProductCD_W">
        card4_discover:  <input type="text" name="card4_discover"><br>
        card4_mastercard:  <input type="text" name="card4_mastercard">
        card4_visa:  <input type="text" name="card4_visa">
        card6_credit:  <input type="text" name="card6_credit">
        card6_debit:  <input type="text" name="card6_debit"><br>  
        card6_debit_or_credit:  <input type="text" name="card6_debit_or_credit">
        P_emaildomain_summary_anonymous_com:  <input type="text" name="P_emaildomain_summary_anonymous_com">
        P_emaildomain_summary_aol_com:  <input type="text" name="P_emaildomain_summary_aol_com">
        P_emaildomain_summary_gmail_com:  <input type="text" name="P_emaildomain_summary_gmail_com"><br>
        P_emaildomain_summary_hotmail_com:  <input type="text" name="P_emaildomain_summary_hotmail_com">
        P_emaildomain_summary_yahoo_com:  <input type="text" name="P_emaildomain_summary_yahoo_com">
        Transaction_Amount_bucket_low:  <input type="text" name="Transaction_Amount_bucket_low">
        Transaction_Amount_bucket_medium:  <input type="text" name="Transaction_Amount_bucket_medium">                     
        <input type=submit value=Submit>
   </form>
    My prediction: {{ predict }}
</body>
</html>